<!DOCTYPE html>
<html>
   <head>
      <title>HTML img Tag</title>
      
   </head>

   <body>

   <style>
.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
</style>

<body>
<h1>Meet the Team</h1>


<div class="flex-container">
  <div class = "image>
  <img src = "https://images.squarespace-cdn.com/content/v1/5d839d71cc93cb05b54a688a/1623088522944-2YABXHUY0Y46MRXB7D69/julian.delgado.jpg"
      alt = "Julian Delgado" height = "250" width = "270" /></div> </div>
  <div class = "image>
  <img src = "https://live.staticflickr.com/65535/51355066553_f4c18e7cb8_z.jpg"
      alt = "Amaury Perez" height = "250" width = "270" /></div> </div>
   <div class = "image>
  <img src = "https://images.squarespace-cdn.com/content/v1/5d839d71cc93cb05b54a688a/1610730227393-S8H3WJ7RWI69WLU2WJXX/Mohamed+Aziz+Medhioub.png"
      alt = "Aziz Medhioub" height = "250" width = "270" /></div> </div>
</div>




   </body>
</html>

